.options div {
    margin: 20px 0 5px 10px;
}

.options div select {
    margin-left: 10px;
}

.existing-blogs {
    list-style: none;
}

.blog {
    margin: 20px 20%;
    font-size: 20px;
    background-color: rgb(255, 233, 193);
    border: 1px solid rgb(0, 174, 255);
    border-radius: 5px;
    min-width: 200px;
}

.category-name {
    margin: 10px 0 0 10px;;
}

.blog-question {
    text-align: left;
    margin: 10px 20px;
}

.blog-created-by {
    text-align: right;
    margin: 10px 20px;
}

@media screen and (max-width: 800px) {

    .existing-blogs {
        padding-left: 0;
        margin-top: 0;
    }

    .blog div {
        font-size: 0.7em;
    }

    .blog {
        margin: 20px 10%;
    }
}

@media screen and (max-width: 500px) {
    .blog div {
        font-size: 0.6em;
    }

    .blog {
        margin: 20px 5%;
    }
}