@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.profile {
    text-align: center;
    margin-top: 100px;
}

.user-value { 
    text-align: center; 
    width: 250px;
    height: 30px;
}

.user-key {
    margin-bottom: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(83, 186, 255);
    color: white;
}

button:hover {
    color: black;
    background-color: rgb(170, 215, 245);
    cursor: pointer;
}