<section class="profile">
    <article class="header">
        <h2 class="user-name">
            Hello, {{user.firstName}} {{user.lastName}}
        </h2>
    </article>
    <form #f="ngForm" (ngSubmit)="saveChanges(f.value)">
        <article class="content">
            <article class="key-value-pair">
                <p class="user-key">Email</p>
                <input type="text" class="user-value" [value]="user.email" name="email" ngModel disabled>
            </article>
            <article class="key-value-pair">
                <p class="user-key">First Name</p>
                <input #firstName type="text" class="user-value" [value]="user.firstName" name="firstName" ngModel>
            </article>
            <article class="key-value-pair">
                <p class="user-key">Last Name</p>
                <input type="text" class="user-value" [value]="user.lastName" name="lastName" ngModel>
            </article>
            <article class="key-value-pair">
                <p class="user-key">Age</p>
                <input type="number" class="user-value" [value]="user.age" name="age" ngModel>
            </article>
            <article class="key-value-pair">
                <p class="user-key">Location</p>
                <input type="text" class="user-value" [value]="user.location" name="location" ngModel>
            </article>
            <button>Save Changes</button>
            <p class="updated-data-message" *ngIf="updatedMessage">Successfully updated</p>
        </article>
    </form>
</section>