<div class="register">
    <h1>Register to Web App</h1>
    <form #f="ngForm" (ngSubmit)="register(f.value)">
        <p><input #emailInput="ngModel" type="text" name="email" placeholder="Email" ngModel required email></p>
        <div class="validation" *ngIf="emailInput.errors?.required && emailInput.touched">Email is required!</div>
        <div class="validation" *ngIf="emailInput.errors?.email && emailInput.touched">Email is invalid!</div>
        <p><input #passwordInput="ngModel" type="password" name="password" placeholder="Password" ngModel required minlength="6"></p>
        <div class="validation" *ngIf="passwordInput.errors?.required && passwordInput.touched">Password is required!</div>
        <div class="validation" *ngIf="passwordInput.errors?.minlength && passwordInput.touched">Password must contain at least 6 characters!</div>
        <p><input #emailInput="ngModel" type="text" name="firstName" placeholder="First Name" ngModel required></p>
        <div class="validation" *ngIf="emailInput.errors?.required && emailInput.touched">First Name is required!</div>
        <p><input #emailInput="ngModel" type="text" name="lastName" placeholder="Last Name" ngModel required></p>
        <div class="validation" *ngIf="emailInput.errors?.required && emailInput.touched">Last Name is required!</div>
        <p class="invalid-register" *ngIf="invalidRegisterMessage != ''">{{invalidRegisterMessage}}</p>
        <p class="remember-me">
            <label>
                <input type="checkbox" name="rememberMe" ngModel>
                Remember me on this computer
            </label>
        </p>
        <p><button [disabled]="f.invalid">Register</button></p>
    </form>
</div>

<!-- <div class="register-help">
    <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
</div> -->