.width-wrapper {
    margin: 0 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 2px light grey;
    border-radius: 0 5px;
    box-shadow: 0 1px 2px 1px lightgrey;
    padding: 0 20px;
}

.isLogged {
    justify-content: space-around;
}

.logo {
    width: 100px;
    height: 63px;
    margin-top: -11px;
}

.logo:hover {
    cursor: pointer;
}

.logo img {
    width: 100%;
    padding-top: 6px;
    max-height: 100%;
}

.nav .nav-items {
    display: flex;
    padding-top: 10px;
}

.nav .nav-items a {
    padding-top: 7px;
    list-style: none;
    margin: 0 8px;
    text-decoration: none;
    color: black;
}

.nav .nav-items a:hover {
    border-top: 4px solid rgb(83, 186, 255);
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    top: 50%;
    cursor: pointer;
}

.nav .profile {
    padding-top: 17px;
}

.nav .profile a {
    padding-top: 5px;
    margin-right:10px;
    text-decoration: none;
    color: black;
}

.nav .profile a:hover {
    border-top: 4px solid rgb(83, 186, 255);
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    top: 50%;
    cursor: pointer;
}

.nav .profile a:first-child {
    background-color: rgb(83, 186, 255);
    color: white;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0 2px 2px 2px rgb(188, 223, 255);
}

@media screen and (max-width: 743px) {
    .nav .nav-items a {
        display: none;
    }
}