<nav class="nav width-wrapper">
    <div class="logo" routerLink="/">
        <img src="../../../assets/logo-2.png" alt="logo">
    </div>
    <div class="nav-items">
        <a routerLink="/">Home</a>
        <a routerLink="/about">About</a>
        <a *ngIf="!isLogged" routerLink="/login">Login</a>
        <a *ngIf="!isLogged" routerLink="/register">Register</a>
    </div>
    <div *ngIf="isLogged" class="profile">
        <a routerLink="/">DS</a>
        <a (click)="logoutHandler()">Logout</a>
    </div>
</nav>
