button {
    border-radius: 3px;
    border: none;
    background-color: rgb(83, 186, 255);
    color: cornsilk;
}

button:hover {
    color: black;
    background-color: cornsilk;
    cursor: pointer;
}

.blog-title {
    text-align: center;
    background-color: lightblue;
    margin: 2% 10%;
    border: 1px solid rgb(117, 196, 223);
    border-radius: 5px;
    color: cornsilk;
}

.category-name {
    margin-left: 10px;
    text-align: left;
    font-size: 20px;
}

.category-name a {
    font-size: 25px;
    text-decoration: none;
    color: cornsilk;
}

.category-name a:hover {
    cursor: pointer;
    color: rgb(68, 180, 218);
}

.blog-question {
    font-size: 40px;
    margin-bottom: 10px;
}

.change button {
    padding: 5px 10px;
}

.change .edit {
    margin-right: 5px;
}

.change .remove {
    margin-left: 5px;
}

.change span {
    margin-left: 5px;
}

.change span.remove-yes {
    color: rgb(1, 150, 1);
    cursor: pointer;
}

.change span.remove-yes:hover {
    font-size: 1.3em;
}

.change span.remove-no {
    color: rgb(156, 26, 9);
    cursor: pointer;
}

.change span.remove-no:hover {
    font-size: 1.3em;
}

.created-by {
    color: black;
    text-align: right;
    margin-right: 10px;
}

.created-by .personal:hover {
    cursor: pointer;
    border-bottom: 2px solid cornsilk;
}

.blog-add-discution {
    margin: 2% 10%;
    background-color: lightblue;
    border: 1px solid rgb(117, 196, 223);
    border-radius: 5px;
    color: cornsilk;
}

.content {
    display: flex;
    margin: 10px 20px;
}

.content-input {
    width: 50%;
}

textarea {
    resize: none;
}

.content-input textarea {
    width: 100%;
    height: 50px;
}

.content-button {
    margin-left: 10px;
}

.content-button button {
    padding: 20px 15px;
    border-radius: 5px;
}

.content-successful {
    color: rgb(1, 150, 1);
    margin-left: 10px;
    margin-top: 5px;
}

.validation {
    color: rgb(156, 26, 9);
    margin-left: 10px;
    margin-top: 15px;
}

.validation-discussion {
    color: rgb(156, 26, 9);
    margin-left: 10px;
    margin-top: 15px;
    font-size: 5px;
}

ul {
    list-style: none;
}

.blog-discution {
    text-align: center;
    margin: 2% 10%;
    color: cornsilk;
}

.blog-discution ul {
    padding: 0;
}

.blog-discution li {
    padding: 10px 20px;
    text-align: left;
    background-color: lightblue;
    border-radius: 5px;
    margin-bottom: 5px;
}

.blog-discution li span:first-child {
    font-size: 20px;
    color: black;
}

.blog-discution li span:last-child {
    font-size: 25px;
    margin-left: 10px;
}

.blog-discution form .edit {
    padding: 5px;
    margin-left: 5px;
}

.no-discussions {
    color: black;
}