<div class="contaqiner">
    <section class="blog-title">
        <h4 class="category-name">Category name: <a
                [routerLink]="['/blog/category', blog.categoryName]">{{blog.categoryName}}</a></h4>
        <h2 *ngIf="!editQuestionClicked" class="blog-question">{{blog.question}}</h2>
        <form #bl="ngForm">
            <textarea *ngIf="editQuestionClicked" class="blog-question" name="question"[ngModel]="blog.question"></textarea>
        </form>
        <div class="change" *ngIf="personalBlogQuestion">
            <button *ngIf="!editQuestionClicked" class="edit" (click)="editQuestionToggle()">Edit</button>
            <button *ngIf="editQuestionClicked" class="edit" (click)="updateBlogQuestion(bl.value)">Confirm edit</button>
            <button class="remove" (click)="removeQuestionToggle()">Remove</button>
            <span *ngIf="removeQuestionClicked">
                <span class="remove-alert">Are you sure?</span>
                <span class="remove-yes" (click)="deleteBlogQuestion()">Yes</span>
                <span class="remove-no" (click)="removeQuestionToggle()">No</span>
            </span>
        </div>
        <p class="created-by">
            By
            <span *ngIf="personalBlogQuestion" [routerLink]="['/profile/', blog.createdByDoc]"
                class="personal">{{blog.createdByFullName}}</span>
            <span *ngIf="!personalBlogQuestion">{{blog.createdByFullName}}</span>
            on {{blog.date}}
        </p>
    </section>
    <section class="blog-add-discution">
        <form #disc="ngForm" (ngSubmit)="addBlogDiscussion(disc.value)">
            <article class="content">
                <article class="content-input">
                    <textarea type="text" #answerInput class="user-value" (keyup)="onKeyUp($event, disc.value); $event.key === 'Enter' ? answerInput.value = '' : null" name="answer" ngModel required></textarea>
                </article>
                <article class="content-button">
                    <button (click)="answerInput.value = ''">Add Discussion</button>
                    <button (click)="answerInput.value = ''">Add</button>
                </article>
                <article class="content-successful">
                    <p class="updated-data-message" *ngIf="addedBlogDiscussion">Successfully added</p>
                    <p class="validation" *ngIf="invalidQuestionInput">Field is required!</p>
                </article>
            </article>
        </form>
    </section>
    <section class="blog-discution">
        <ul>
            <li *ngFor="let discussion of blog.users">
                <div>
                    <span>{{discussion.fullName}} said:</span>
                    <span *ngIf="clickedEditDiscussion === 0 || clickedEditDiscussion !== discussion.did">{{discussion.answer}}</span>
                    <span *ngIf="clickedEditDiscussion !== 0 && clickedEditDiscussion === discussion.did">
                        <form #bl="ngForm" (ngSubmit)="updateBlogDiscussion(discussion?.did, bl.value)">
                            <textarea class="blog-discussion" name="answer" [ngModel]="discussion.answer"></textarea>
                            <button class="edit" >Confirm edit</button>
                            <span class="validation-discussion" *ngIf="invalidDiscussionInput">Field is required!</span>
                        </form>
                    </span>
                </div>
                <div class="change" *ngIf="currUser.uid === discussion.uid">
                    <button class="edit" (click)="editDiscussionToggle(discussion.did)">Edit</button>
                    <button class="remove" (click)="removeDiscussionToggle(discussion.did)">Remove</button>
                    <span class="discussion-remove-alert" *ngIf="clickedRemoveDiscussion !== 0 && clickedRemoveDiscussion === discussion.did">
                        <span class="remove-alert">Are you sure?</span>
                        <span class="remove-yes" (click)="deleteBlogDiscussion(discussion.did)">Yes</span>
                        <span class="remove-no" (click)="removeDiscussionToggle(discussion.did)">No</span>
                    </span>
                </div>
            </li>
        </ul>
        <div class="no-discussions" *ngIf="blog.users?.length === 0">
            Be the first to add a discussion.
        </div>
    </section>
</div>