.blog-categories {
    margin: 50px;
    border: 2px solid lightblue;
}

.title {
    margin: 50px;
}

.categories {
    padding: 0;
}

.category {
    padding: 10px;
    list-style: none;
    margin: 20px;
    text-align: center;
}

.category:hover {
    cursor: pointer;
    background-color: lightblue;
}