.add-category {
    margin-top: 5%;
}

.content {
    text-align: center;
}

.key-value-pair textarea {
    width: 40%;
    height: 100px;
}

.key-value-pair {
    margin: 10px;
}

.user-value {
    text-align: center;
    width: 250px;
    height: 30px;
}

.user-key {
    margin-bottom: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(83, 186, 255);
    color: white;
}

button:hover {
    color: black;
    background-color: rgb(170, 215, 245);
    cursor: pointer;
}

.updated-data-message {
    color: rgb(1, 150, 1);
}

.validation {
    color: rgb(184, 0, 0);
}

textarea {
    resize: none;
}

ul {
    list-style: none;
}

.blog {
    margin: 20px 20%;
    font-size: 20px;
    background-color: rgb(255, 233, 193);
    border: 1px solid rgb(0, 174, 255);
    border-radius: 5px;
    min-width: 400px;
}

.blog:hover{
    cursor: pointer;
    background-color: rgb(170, 215, 245);
}

.blog-question {
    text-align: left;
    margin: 10px 20px;
}

.blog-created-by {
    text-align: right;
    margin: 10px 20px;
}