<section class="category">
    <article class="category-title">
        {{categoryName}}
    </article>
    <a class="back" routerLink="">&lt; Back to categories</a>
    <a class="back-short" routerLink="">&lt; Back</a>
    <article class="add-category">
        <form #f="ngForm" (ngSubmit)="addBlogQuestion(f.value)">
            <article class="content">
                <article class="key-value-pair">
                    <p class="user-key">Blog Question</p>
                    <textarea  type="text" (keyup)="onKeyUp($event, f.value); $event.key === 'Enter' ? questionInput.value = '' : null" #questionInput class="user-value" name="question" ngModel required></textarea>
                    <div class="validation" *ngIf="invalidInput">Field is required!</div>
                </article>
                <button (click)="questionInput.value = ''">Add Question</button>
                <p class="updated-data-message" *ngIf="addedQuestion">Successfully added</p>
            </article>
        </form>
    </article>
    <article class="existing-blogs">
        <ul>
            <li class="blog" *ngFor="let blog of blogs" [routerLink]="['/blog/' + blog.id]">
                <div class="blog-question">{{blog.data.question}}</div>
                <div class="blog-created-by">By {{blog.data.createdByFullName}}</div>
            </li>
        </ul>
        <div class="no-discussions" *ngIf="blogs?.length === 0">
            Be the first to add a question.
        </div>
    </article>
</section>